/* h1{ */
    /* color: rgb(97, 97, 38); */
/* } */
/* button{ */
    /* color: blue; */
    /* padding: 10px; */
    /* background-color: yellow; */

/* } */
/* body   { */
    /* background-color: black; */
    /* ...............................background image creating */
    /* background-image: url("https://images.pexels.com/photos/3155639/pexels-photo-3155639.jpeg?cs=srgb&dl=pexels-asadphoto-3155639.jpg&fm=jpg"); */
    
/* } */
/* #font{ */
    /* color:yellow; */
/* }  */
/* class selector....................... */
/* .null{  */
    /* background-color: blue;  */
 /* }  */
 /* body{
    background-color: blue;
    color: white;
 } */
  /* ########################## give them all a class headding and set color of heading to red       */
  /* .heading{
    color: red;

  } */
   /* #########################text proparty */
   /* p{
    text-align: center;
   } */
    /* ###############################33text decoration underline /overline/ line through */


/* h2{
         /* text-decoration: underline; 
        text-decoration: overline; 
} */
 /* ####################font-weight propeties normal/bold/ bolder/lighter */
 /* h1{
    font-weight:bold;
 } */